In [3]:
import pandas as pd

### Unzip imdb_pandas.zip into the data folder.

In [4]:
# titles = pd.read_csv('data/titles.csv', index_col=None)
# titles.head()

In [2]:
# cast = pd.read_csv('data/cast.csv', index_col=None)
# cast.head()

### What are the ten most common movie names of all time?

### Which three years in the 1930s saw the most films released?

### Count the number of films that have been released in each decade over the history of cinema.

### Count the number of "Hamlet" films made in each decade.

### Count the number of "Rustler" characters in each decade of the history of film.

### Count the number of "Hamlet" characters in each decade.

### What are the 11 most common character names in movie history?

### Who are the 10 people most often credited as "Herself" in film history?

### Who are the 10 people most often credited as "Himself" in film history?

### Which actors or actresses appeared in the most movies in the year 1945?

### Which actors or actresses appeared in the most movies in the year 1985?

### How many roles "Mammootty" has played in each year of his career.

### What are the 10 most frequent roles that start with the phrase "Patron in"?

### What are the 10 most frequent roles that start with the word "Science"?

### Count number of n-values of the roles that Judi Dench has played over her career.

### Count number of n-values of Cary Grant's roles through his career.

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [5]:
release_dates = pd.read_csv(
    'data/release_dates.csv', 
    index_col = None,
    parse_dates = ['date'], 
    infer_datetime_format = True
)
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2               #Declimax  2018  Netherlands 2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                 #Horror  2015          USA 2015-11-20

### Count the number of movies with "Christmas" in their title for each month, that is released are the USA.

# Merge

### On which date was each Judi Dench movie from the 1990s released in the USA?

### In which months do films with the actress Judi Dench tend to be released in the USA?

### In which months do films with the actor Tom Cruise tend to be released in the USA?